html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;

  &:hover, &:focus, &:visited {
    text-decoration: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


@font-face {
  font-family: Nunito Sans;
  src: url('../fonts/NunitoSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Yeseva One;
  src: url('../fonts/YesevaOne-Regular.ttf') format('ttf');
}

$Nunito: 'Nunito Sans', sans-serif;
$Yeseva: 'Yeseva One', cursive;

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1256px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 1256px) {
    width: 1170px;
  }

  @media screen and (max-width: 1170px) {
    width: 968px;
  }

  @media screen and (max-width: 786px) {
    width: 750px;
  }

  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

.slider {
  position: relative;
  float: left;
  width: 100%;
  background-color: #000;
  padding: 100px 135px;
  box-sizing: border-box;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 482px;
    margin-top: 52px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    box-sizing: border-box;

    @media screen and (max-width: 660px) {
      display: none;
    }

    li {
      margin: 0 30px;

      &:first-of-type {
        margin-left: 0;
      }

      a {
        display: block;
        position: relative;
        font-family: $Yeseva;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.3);
        transition: 0.4s all;

        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 0;
          height: 1px;
          bottom: -6px;
          background-color: #E3B873;
          transition: 0.4s all;
        }

        &:hover {
          color: #E3B873;

          &:after {
            display: block;
            position: absolute;
            content: '';
            width: 99%;
            height: 1px;
            background-color: #E3B873;
          }
        }
      }

      a.active {
        color: #E3B873;

        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 99%;
          height: 1px;
          background-color: #E3B873;
        }
      }
    }
  }

  &__slide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    box-shadow: none;
    opacity: 0;
    transition: all 0.7s;
    background-color: transparent;

    &.active {
      opacity: 1;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: calc(100% - 679px);
  }

  &__titles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 40px;
    box-sizing: border-box;

    @media screen and (max-width: 660px) {
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 34px;
    font-family: $Yeseva;
    font-weight: 400;
    font-size: 27px;
    text-transform: uppercase;
    color: #E3B873;

    @media screen and (max-width: 660px) {
      text-align: center;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      left: 173px;
      top: 45px;
      width: 92px;
      height: 1px;
      background-color: #E3B873;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 42px;
    font-family: $Nunito;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;

    @media screen and (max-width: 660px) {
      text-align: center;
    }
  }

  &__descr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

    &--item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      width: 50%;
      margin-bottom: 34px;

      h3 {
        margin: 0 0 9px;
        font-family: $Yeseva;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: #E3B873;
      }

      p {
        margin: 0;
        font-family: $Nunito;
        font-weight: 400;
        font-size: 13px;
        color: #FFFFFF;
      }
    }
  }

  &__photo {
    display: block;
    position: relative;
    width: 679px;
    height: 482px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin-top: 0;
    height: 20px;
  }

  &__arrow {
    display: block;
    position: relative;
    width: 40px;
    height: 14px;

    &--prev {
      background-image: url('../img/icons/arr_left_icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--next {
      background-image: url('../img/icons/arr_right_icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
